:root {
    --font-factor: 1.425;
    --base-font-size: 18px;
    --h5: calc(var(--base-font-size) * var(--font-factor));
    --h4: calc(var(--h5) * var(--font-factor));
    --h3: calc(var(--h4) * var(--font-factor));
    --h2: calc(var(--h3) * var(--font-factor));
    --h1: calc(var(--h2) * var(--font-factor));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: var(--base-font-size);
    scroll-snap-type: y mandatory;
    overflow: scroll;
}

p, h1, h2, h3, h4, h5, li {
 padding: 1rem;
}
h1{

    font-size: var(--h1);
}

h2{
    font-size: var(--h4);
}

.slink__wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 120px;

}

svg {
    width: 800px;
}

path {
    stroke: black;
    stroke-width: 3px;
    stroke-linecap: round;
    fill: none;
}


main {
    scroll-snap-type: y mandatory;
    flex-basis: 50%;
    max-height: 100vh;
    scroll-snap-stop: always;
    overflow-y: scroll;
}

section {
    height: 100vh;
    background-color: #ff8383;
    scroll-snap-align: start;
    position: sticky;
    position: -webkit-sticky;
    top: 0;


}

section:nth-child(3n +2){
    background-color: #f5e7a3;
}

section:nth-child(3n +3){
    background-color: #ccffbe;
}